.header-title {
  font-size: 25px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
app-header .row {
  margin: 0; 
}
app-footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}