<form role="form" name="settingsForm"
      ng-submit="submit(settingsForm.$valid)" novalidate>
  <div class="form-group">
    <label for="username">
      Nom d'utilisateur
    </label>
    <input id="username"
           name="username"
           class="form-control"
           type="text"
           placeholder="Nom d'utilisateur"
           ng-model="userEdit.username"
           required
           unique-username>
    <span class="help-block" ng-show="settingsForm.username.$error.required">Nom d'utilisateur requis</span>
    <span class="help-block"
          ng-show="settingsForm.username.$error.uniqueUsername">Le nom d'utilisateur doit être unique</span>
  </div>
  <div class="form-group">
    <label for="firstname">
      Prénom
    </label>
    <input id="firstname"
           name="firstname"
           class="form-control"
           type="text"
           placeholder="Prénom"
           ng-model="userEdit.firstname">
  </div>
  <div class="form-group">
    <label for="lastname">
      Nom
    </label>
    <input id="lastname"
           name="lastname"
           class="form-control"
           type="text"
           placeholder="Nom"
           ng-model="userEdit.lastname">
  </div>
  <div class="form-group">
    <label for="oldpassword">
      Ancien mot de passe
    </label>
    <input id="oldpassword"
           name="oldpassword"
           class="form-control"
           type="password"
           placeholder="Ancien mot de passe"
           ng-model="userEdit.oldpassword"
           ng-required="userEdit.newpassword">
    <span class="help-block" ng-show="settingsForm.oldpassword.$error.required">Mots de passe requis</span>
  </div>
  <div class="form-group">
    <label for="newpassword">
      Nouveau mot de passe
    </label>
    <input id="newpassword"
           name="newpassword"
           class="form-control"
           type="password"
           placeholder="Nouveau mot de passe"
           ng-model="userEdit.newpassword">
  </div>
  <div class="form-group">
    <label for="confirmpassword">
      Confirmation du mot de passe
    </label>
    <input id="confirmpassword"
           name="confirmpassword"
           class="form-control"
           type="password"
           placeholder="Mot de passe de confirmation"
           ng-model="userEdit.confirmpassword"
           field-match="userEdit.newpassword">
    <span class="help-block" ng-show="settingsForm.confirmpassword.$error.unique">Mots de passe différent</span>
  </div>
  <button type="submit"
          class="btn btn-primary"
          ng-disabled="settingsForm.$invalid">
    Sauvegarder
  </button>
</form>